#daexthrmal-meta .inside{
    margin: 0;
    padding: 0;
}

.daexthrmal-table-hreflang-manager{
    border-collapse: collapse;
    width: 100%;
    border: 0;
    margin: 0;
}

.daexthrmal-table-hreflang-manager *{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: 400;
    font-size: 12px !important;
}

.daexthrmal-table-hreflang-manager input[type="text"],
.daexthrmal-table-hreflang-manager select{
    color: #333 !important;
}

.daexthrmal-table-hreflang-manager input[type="text"]{
    height: 24px;
    line-height: 16px;
    box-shadow: none;
    padding: 3px 5px;
    margin: 0 !important;
    border-color: #dddddd;
    border-radius: 0;
    min-height: auto;
}

.daexthrmal-table-hreflang-manager input[type="text"]:focus{
    border-color: #5b9dd9;
}

.daexthrmal-table-hreflang-manager select{
    height: 24px;
    line-height: 24px;
}

.daexthrmal-table-hreflang-manager > tbody > tr > td,
.daexthrmal-table-hreflang-manager > tbody > tr > th{
    padding: 8px;
}

.daexthrmal-table-hreflang-manager > tbody > tr:not(:last-child) > td,
.daexthrmal-table-hreflang-manager > tbody > tr:not(:last-child) > th{
    border-bottom: 1px solid #eeeeee;
}

.daexthrmal-table-hreflang-manager > tbody > tr > th{
    text-align: right;
    color: #555;
}

.daexthrmal-table-hreflang-manager > tbody > tr > th > label{
    height: 24px;
    line-height: 24px;
    display: block;
    overflow: hidden;
}

.daexthrmal-table-hreflang-manager .daexthrmal-language,
.daexthrmal-table-hreflang-manager .daexthrmal-script,
.daexthrmal-table-hreflang-manager .daexthrmal-locale{
    width: 300px !important;
    visibility: hidden !important;
}

.daexthrmal-url{
    width: 100%;
    max-width: 570px;
}

/* Meta box in "Side" position -------------------------------------------------------------------------------------- */
#side-sortables .daexthrmal-table-hreflang-manager .regular-text,
#side-sortables .daexthrmal-table-hreflang-manager .select2-container{
    min-width: 190px !important;
    max-width: 190px !important;
}

/* Responsive ------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 782px){
    .daexthrmal-table-hreflang-manager label{
        text-align: left;
    }
    #side-sortables .select2,
    .select2{
        width: 100% !important;
        max-width: 100% !important;
        min-width: 0 !important;
    }
    .daexthrmal-table-hreflang-manager > tbody > tr > th{
        border-bottom: 1px solid #eeeeee;
    }
}